name: CI


on:
  pull_request:
  push:
    branches: [main]
    tags: ['*']


permissions:
  id-token: write # For OIDC
  contents: write # For creating releases


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - run: bun run build
      - run: bun run lint:ci


  publish:
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build package
        run: bun pm pack --filename ts-result.tgz
      - name: Publish to npmjs.org
        run: NODE_AUTH_TOKEN="" npm publish ./ts-result.tgz --access public
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
